<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid d-flex justify-content-space-between">
    <a class="fs-5 navbar-toggler text-decoration-none" href="#"><</a>
    <a class="navbar-brand" href="#">Budgety App</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</nav>
<div class='card'>
  <div class="card-body container">
    <div class="card mb-3 justify-content-center shadow rounded-3">
      <div class="row g-0">
        <div class="col-3">
          <img src="http://lorempixel.com/100/100/abstract/" class="img-fluid rounded-start p-4" alt="...">
        </div>
        <div class="col-6 d-flex align-items-center">
          <div class="card-body ">
            <h5 class="card-title text-secondary">Mac Donalds fastfood</h5>
            <p class="card-text mt-4 text-black-50">12 Apr 2014</p>
          </div>
        </div>
        <div class="col-3 d-flex align-items-center">
          <div class="card-body">
            <p class="card-text"><small class="fs-5 p-3">$17.00</small></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="bg-success d-flex justify-content-center">
  <button type="button" class="btn btn-success px-5 py-2 m-5 border-white border-3 rounded-3 fs-5">Success</button>
</div>